# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release


# 1. Jangan bawa file Database Lokal (Kalau nanti pakai SQLite/Hive)
*.db
*.sqlite
*.sqlite3
*.hive

# 2. Jangan bawa file Environment (Kunci API rahasia)
.env
.env.*

# 3. Jangan bawa Kunci Brankas Play Store (SANGAT KRUSIAL UNTUK NANTI)
*.jks
*.keystore
key.properties

# 4. File konfigurasi rahasia Firebase (Kalau nanti pakai Firebase)
google-services.json
GoogleService-Info.plist

# 5. File Export Database (Haram masuk GitHub)
*.sql
